/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7.12.2016, 21:34:58
    Author     : Paaajaaa
*/
body, html {height:100%;width:100%;}
div.wrap {height:100%;width:100%; overflow:hidden;}
body {overflow: hidden; }
#c24{background-color: #999999;}
#cplac{
    width: 60%; height:20%; 
    border:1px solid #000000;
    position:absolute;

}
#cdobre{
    width: 10%; height:10%; 
    border:1px solid #000000;
    position:absolute;
    
}
#cspatne{
    width: 10%; height:10%; 
    border:1px solid #000000;
    position:absolute;
    
}

#ctym1{color:red;font-size: 40px;}
#ctym2{color:blue;font-size: 40px;}
.policka{background-color: yellowgreen; -webkit-background-size: 100% 100%;}
